<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="{{url_for('static', filename='js/phaser.min.js')}}"></script>
    <title></title>
  </head>
  <body>
    <script src="{{url_for('static', filename='js/scenes.js')}}"></script>
    <script src="{{url_for('static', filename='js/background.js')}}"></script>
    <script src="{{url_for('static', filename='js/player.js')}}"></script>
    <script src="{{url_for('static', filename='js/spawner.js')}}"></script>
    <script src="{{url_for('static', filename='js/game.js')}}"></script>
  </body>
</html>
